:root {
  --main-bg-color: rgb(9, 9, 46);
  --main-bg-color-lighter: rgb(26, 26, 71);
  --main-panel-color: rgb(34, 35, 102);
  --panel-lighter: #313581; 
  --panel-color-hover: rgba(49,53,129,1);
}

@font-face {
  font-family: 'Avenir Light'; /*a name to be used later*/
  src: url('fonts/avenir/avenir-light.otf'); /*URL to font*/
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

#dashboard-header {
  background-color: var(--main-panel-color);
  color: white;
  box-shadow: 1px 0px 18px  rgba(0, 0, 0, 0.7);
  border: 0px solid var(--main-panel-color);
  transition: .2s;
}

#dashboard-header:hover {
  background-color: var(--panel-color-hover);
  border: 1px solid var(--panel-color-hover);
  box-shadow: 1px 0px 22px  rgb(0, 0, 0);
  transition: .2s;
}

.analysis-panel {
  resize: both;
  min-width: 600px;
  color: rgb(255, 255, 255);
  display: inline-block;
  width: 42%;

  margin: 2%;

  border-radius: 20px;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
  vertical-align: top;
  padding-left: 0.8%;
  padding-bottom: 15px;
  padding-right: 0.8%;
  padding-top: 10px;
  box-shadow: 1px 4px 19px  rgb(0, 0, 0, .9);
  
  position: relative;
  background-image: linear-gradient(var(--main-panel-color),var(--panel-color-hover));
  z-index: 1;
}

.analysis-panel::before {
  resize: both;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(var(--panel-color-hover),var(--main-panel-color));
  z-index: -1;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.analysis-panel:hover::before {
  opacity: 1;
}

/* #=========================== */

/* .analysis-panel:hover {
  background-image: linear-gradient(var(--main-panel-color),var(--panel-color-hover));
  box-shadow: 1px 0px 18px  rgb(0, 0, 0);
	position: relative;
  top: .2px;
	transition: background 0.2s ease-in-out;
} */


#analysis-panel:hover > #panelheader {
  transition: .2s;
  background-color: var(--main-panel-color);
}

#inlineme {
  display: inline-block;
  vertical-align: middle;
}

.formula-button {
  position: relative;
  left: 80px;
  margin-left: 100px;
}

.back-button {
  position: relative;
  left: -80px;
  margin-left: -100px;
}

.panelheader {
  color: white;
  padding: 20px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  transition: .2s;
  box-shadow: 1px 6px 16px  rgba(0, 0, 0, .4);
  z-index: 1000;

  background-color: rgba(169, 245, 255, 0.1);
  transition: .18s;
  border: solid 3px var(--main-bg-color);
}

.panelheader:hover {
  transition: .2s;
  background-color: rgba(79, 118, 202, 0.418);
  box-shadow: 1px 4px 18px  rgba(0, 0, 0, .6);
}


body {
  background-color: var(--main-bg-color);
  text-align: center;

}

#shelf-item {
  width: 85%;
  background-color: var(--main-bg-color);
  color: white;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 4px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  align-content: center;
  transition: .18s;
  border-radius: 5px;
  border: solid 2px var(--main-bg-color);
}

#shelf-item:hover {

  background-color: rgba(169, 245, 255, 0.103);
  transition: .18s;
  border: solid 2px var(--main-bg-color);
}

#shelf-item:active {
  background-color: rgba(169, 216, 255, 0.4);
}

#shelf-item.shelfActive {
  background-color: rgba(169, 245, 255, 0.103);
  border: solid 2px var(--main-bg-color);
}

.shelf {
  width: 100%;
  font-size: 15px;
  max-height: 340px;
  background-color: rgba(0,0,0,0);
  margin-right: 0px;
  margin-left: 6px;
  margin-top: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  overflow: auto;
  box-shadow: 1px 4px 25px  rgba(0, 0, 0, .4);
}
.shelf:hover {
  box-shadow: 1px 4px 30px  rgba(0, 0, 0, .5);
}

.analysis-content {
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 15px;
  color: white;
  margin-left: 0px;
  margin-top: 20px;
  transition: .3s;
  border-radius: 20px;
  box-shadow: 1px 4px 13px  rgba(0, 0, 0, .6);
  display: inline-block;
  vertical-align: top;
  border: 2px solid var(--panel-lighter))
}
.analysis-content:hover {
  box-shadow: 1px 4px 17px  rgba(0, 0, 0, .8);
  background-color: var(--main-bg-color-lighter)
}

#largeitem {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}

.chart-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--main-panel-color);
  width: 80%;
  position: relative;
  border-radius: 20px;
  box-shadow: 1px 4px 13px  rgba(0, 0, 0, .6);
  transition: .2s;
  vertical-align: middle;
}

.chart-container:hover {
  background-color: var(--panel-color-hover);
  box-shadow: 1px 4px 15px  rgba(0, 0, 0, .8);
  transition: .2s;
}


::-webkit-scrollbar-track {
  background-color: rgb(98, 110, 185);
  -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.7);
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-bg-color-lighter);
  border-radius: 5px;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
  height:0;
  width: 0;
}

#clock {
  font-family: 'Open Sans', sans-serif;
  font-weight: medium;
  background-color: var(--main-panel-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 4px 12px  rgba(0, 0, 0, .8);
  font-size: 30px;
  font-stretch: expanded;
  font-variant-caps: small-caps;
  margin: 20px;
  padding: 20px;
  transition: .3s;
  height: 100%;
}

#clock:hover {
  background-color: var(--panel-color-hover);
  box-shadow: 1px 4px 16px  rgba(0, 0, 0, .9);
  transition: .3s;
}

#downloadSection{
  background-color: var(--main-bg-color);
  width: 40%;
  border-radius: 15px;
  margin: 2%;
  height: 300px;
  display: inline-block;
  padding: 5px;
  transition: .2s;
  box-shadow: 1px 6px 16px  rgba(0, 0, 0, .4);
}

#downloadSection:hover {
  background-color: var(--main-bg-color-lighter);
  transition: .2s;
}

.darkform {
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
  cursor: pointer;
  padding: 7px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  transition: .2s;
  box-shadow: 1px 6px 16px  rgb(0, 0, 0);
  z-index: 1000;
  background-color: rgba(79, 148, 250, 0.644);
  transition: .18s;
  border: solid 1px var(--main-bg-color);
}

.darkform:hover {
  background-color: rgba(79, 147, 250, 0.438);
  transition: .18s;
}

.downloadbutton {
  text-decoration: none;
}

.keysiglist {
  font-family: 'Avenir';
  background-color:var(--main-panel-color);
  color:black;
  padding: 2px;
  border-radius: 5px;
  color: white;
}


.keysiglist:hover {
  background-color: var(--panel-color-hover);
}

.keysigcontent {
  display: inline-block;
}