:root {
  --main-bg-color: rgb(17,27,39);
  --main-bg-color-lighter: rgb(23, 36, 53);
  --main-panel-color: rgb(31, 45, 61);
  --panel-lighter: rgb(41, 64, 90); 
  --panel-color-hover: rgb(39, 53, 71);
}


* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

#dashboard-header {
  background-color: var(--main-panel-color);
  color: white;
  box-shadow: 1px 0px 18px  rgba(0, 0, 0, .7);
}

#dashboard-header:hover {
  border: 1px solid rgb(34,45,59);
  box-shadow: 1px 0px 22px  rgb(0, 0, 0);
}

.analysis-panel {
  resize: both;
  background-color:var(--main-panel-color);
  color: rgb(255, 255, 255);
  display: inline-block;
  height: 440px;
  width: 47%;
  margin: 30px;
  border-radius: 20px;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
  transition: .3s;
  border: 5px solid var(--main-panel-color);
  vertical-align: top;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 5px;
  box-shadow: 1px 4px 19px  rgb(0, 0, 0, .9);

}

.analysis-panel:hover {
  background-color: var(--panel-color-hover);
  transition: .4s;
  box-shadow: 1px 0px 18px  rgb(0, 0, 0);
	position: relative;
  top: .2px;
  border: 4px solid rgba(0,0,0,0) 
}

#analysis-panel:hover > #panelheader {
  transition: .2s;
  background-color: var(--main-panel-color);
}

#inlineme {
  display: inline-block;
  vertical-align: middle;
}

.formula-button {
  position: relative;
  left: 80px;
  margin-left: 100px;
}

.back-button {
  position: relative;
  left: -80px;
  margin-left: -100px;
}

.panelheader {
  background-color: var(--main-bg-color);
  color: white;
  padding: 20px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  transition: .2s;
  box-shadow: 1px 6px 16px  rgba(0, 0, 0, .4);
  z-index: 1000;
}

.panelheader:hover {
  transition: .2s;
  background-color:  var(--main-bg-color-lighter);
  box-shadow: 1px 4px 18px  rgba(0, 0, 0, .6);
}


body {
  background-color: var(--main-bg-color);
}

#shelf-item {
  width: 85%;
  background-color: var(--main-bg-color);
  color: white;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 4px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  align-content: center;
  transition: .18s;
  border-radius: 5px;
  border: solid 2px var(--main-bg-color);
}

#shelf-item:hover {

  background-color: rgba(169, 245, 255, 0.103);
  transition: .18s;
  border: solid 2px var(--main-bg-color);
}

#shelf {
  width: 100%;
  background-color: var(--main-panel-color);
  margin-left: 6px;
  margin-top: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: 1px 4px 9px  rgba(0, 0, 0, .7);
}

.analysis-content {
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 20px;
  color: white;
  margin: 20px;
  transition: .3s;
  border-radius: 20px;
  box-shadow: 1px 4px 13px  rgba(0, 0, 0, .6);
}

#largeitem {
  display: inline-block;
  vertical-align: top;
}

/* .graph {
  min-width: 400px;
  min-height: 200px;
  max-width: 400px;
  max-height: 200px;
} */

.chart-container {
  background-color: var(--main-panel-color);
  padding: 20px;
  height:200px;
  width: 350px;
  position: relative;
  border-radius: 20px;
}

.chart-container:hover {
  background-color: var(--panel-color-hover);
}


::-webkit-resizer {
  background: none;
  background-color: rgba(0,0,0,0)
}