/* ==========================*/
/* For the main site colors: */
/* ==========================*/

:root {
    --main-bg-color: rgb(9, 9, 46);
    --main-bg-color-lighter: rgb(26, 26, 71);
    --main-panel-color: rgb(34, 35, 102);
    --panel-lighter: #313581; 
    --panel-color-hover: rgba(49,53,129,1);
  }

/* ===================================*/
/* For the body (center divs, color): */
/* ===================================*/

body {
    background-color: var(--main-bg-color);
    color: white;
    text-align: center;
}

/* ===========================================*/
/* For the main panels (center divs, color): */
/* ===========================================*/

.composer-panel {
    min-width: 400px;
    width: 40%;
    min-height: 400px;
    background-color: var(--main-panel-color);
    display: inline-block;
    border-radius: 20px;
    margin: 2%;
    transition: .2s;
    box-shadow: 1px 3px 10px rgba(0,0,0,.5);
}
.composer-panel:hover {
    background-color: var(--panel-color-hover);
    transition: .2s;
    box-shadow: 1px 3px 15px rgba(0,0,0,.8);
}