/* ==========================*/
/* For the main site colors: */
/* ==========================*/

:root {
    --main-bg-color: rgb(9, 9, 46);
    --main-bg-color-lighter: rgb(26, 26, 71);
    --main-panel-color: rgb(34, 35, 102);
    --panel-lighter: #313581; 
    --panel-color-hover: rgba(49,53,129,1);
  }

/* ===================================*/
/* For the body (center divs, color): */
/* ===================================*/

body {
    background-color: var(--main-bg-color);
    color: white;
    text-align: center;
}

/* ===========================================*/
/* For the main panels (center divs, color): */
/* ===========================================*/

.composer-panel {
    min-width: 400px;
    width: 40%;
    background-color: var(--main-panel-color);
    display: inline-block;
    border-radius: 20px;
    margin: 1%;
    transition: .2s;
    box-shadow: 1px 3px 10px rgba(0,0,0,.5);
}
.composer-panel:hover {
    background-color: var(--panel-color-hover);
    transition: .2s;
    box-shadow: 1px 3px 15px rgba(0,0,0,.8);
}

/* ===========================================*/
/* For the big panels (center divs, color): */
/* ===========================================*/
.big-panel {
    color: white;
    width: 82%;
    min-height: 400px;
    background-color: var(--main-panel-color);
    display: inline-block;
    border-radius: 20px;
    margin: 2%;
    transition: .2s;
    box-shadow: 1px 3px 10px rgba(0,0,0,.5);
}
.big-panel:hover {
    background-color: var(--panel-color-hover);
    transition: .2s;
    box-shadow: 1px 3px 15px rgba(0,0,0,.8);
}

/* ===========================================*/
/* For the big panels (center divs, color): */
/* ===========================================*/
.meterBar {
    height: 70px;
    background-color: rgba(0,0,0,0);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.bar {
    width: 7%;
    background-color: white;
    margin-top: 8px;
    height: 65px;
    border: 2px solid rgba(255, 255, 255, 0.473);
    border-radius: 2px;
    margin-right: 0%;
    margin-left: 0%;
    display: inline-block;
}

.barOn {
    background-color: red;
}

.barOn1 {
    background-color: #ff4319;
}

.barOn2 {
    background-color: #ff8018;
}

.barOn3 {
    background-color: #ffa618;
}

.barOn4 {
    background-color: rgb(255, 238, 0);
}

.barOn5 {
    background-color: rgb(157, 255, 0);
}

.barOn6 {
    background-color: rgb(19, 230, 0);
}

.barOn7 {
    background-color: rgb(0, 192, 16);
}

.barOff {
    background-color: rgba(0,0,0,0);
} 